@use "common/variables.scss";

.additional {
  line-height: 14px;
  padding-top: 25px;
}

.additional__wrapper {
  @media (min-width: variables.$desktop-width) {
    display: grid;
    grid-template-columns: 1fr auto;
    gap: 80px;
  }
}

.additional__title {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  color: #000000;
  margin: 0;
  margin-bottom: 36px;
  display: flex;
  align-items: center;
  position: relative;

  @media (min-width: variables.$desktop-width) {
    grid-column: 1 / 3;
  }

  &::after {
    content: "";
    position: absolute;
    top: 61%;
    left: 250px;
    right: 0;
    height: 2px;
    width: 400%;
    background-color: #68b738;
  }
}

.additional__list {
  list-style-type: none;
  margin: 0;
  padding: 0;

  @media (min-width: variables.$tablet-width) {
    border: 1px solid #d3d3d3;
    padding: 0;
  }

  @media (min-width: variables.$desktop-width) {
    padding: 0;
    border-left: none;
    border-right: none;
  }
}

.additional__item {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 12px 0 19px 0;
  border-top: 1px solid #cdcdcd;

  &:last-child {
    border-bottom: 1px solid #cdcdcd;
  }

  @media (min-width: variables.$tablet-width) {
    padding: 26px 38px;
    grid-template-columns: 1fr 1fr auto;
    column-gap: 50px;

    &:first-child {
      border-top: none;
    }
  }
}

.additional__recommendation {
  background: url("../../img/catalog/background-backpack-cat.jpg") no-repeat;
  background-size: 100%;
  width: 100%;
  height: 290px;
  margin: 35px 0 35px;
  position: relative;

  @media (min-width: variables.$tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    align-items: center;
    height: 200px;
    background: url("../../img/catalog/background-backpack-cat-tablet.jpg") no-repeat;
  }

  @media (min-width: variables.$desktop-width) {
    width: 245px;
    height: 288px;
    display: block;
  }

  &::before {
    content: "";
    position: absolute;
    display: block;
    background-color: #68b738d9;
    width: 100%;
    height: 100%;

    // @media (min-width: variables.$tablet-width) {
    //   display: block;
    // }
  }

  &::after {
    content: "";
    position: relative;
    display: block;
    // top: 58px;
    // right: 101px;
    background: url("../../img/icons/gift.svg") no-repeat center;
    width: 85px;
    height: 85px;
    margin: 0 auto;
    // margin-bottom: 50px;

    @media (min-width: variables.$tablet-width) {
      grid-column: 1 / 2;
      grid-row: 1 / 2;
      margin: 0 0 0 77px;
    }
  }
}

.additional__slogan {
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  margin: 0;
  position: relative;
  z-index: 1;
  width: 170px;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 44px);

  @media (min-width: variables.$tablet-width) {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    align-self: center;
    top: 0;
    left: 0;
    transform: translate(0, 0);
    text-align: left;
    justify-self: center;
  }

  // @media (min-width: variables.$tablet-width) {
  // display: none;
  // }
}

.additional__button {
  grid-column: 1 / -1;
  grid-row: 3 / 4;
  margin-top: 15px;

  @media (min-width: variables.$tablet-width) {
    grid-column: 1 / -1;
    font-size: 16px;
    line-height: 20px;
    padding: 10px;
  }
}
