.additional {
  line-height: 14px;
}

.additional__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.additional__recommendation {
  background-image: url("../../img/background-backpack-cat.jpg");
  width: 280px;
  height: 290px;
}

.additional__slogan {
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
}
