.advantages {
  padding: 20px 0 50px 0;
}

.advantages__title {
  margin-bottom: 40px;
  font-family: "Oswald", sans-serif;
  font-size: 36px;
  line-height: 40px;
  text-align: left;
  color: #000000;
}

.advantages__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.advantages__item {
  // display: flex;
  // align-items: center;
  // position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &:not(:last-child) {
    margin-bottom: 20px;
  }

  &::before {
    content: "";
    width: 60px;
    height: 60px;
    background: #68b738 no-repeat 50%;
  }

  &--leaf::before {
    background-image: url("../../img/advantages-leaf.svg");
  }

  &--powder::before {
    background-image: url("../../img/advantages-water.svg");
  }

  &--cutlery::before {
    background-image: url("../../img/advantages-eat.svg");
  }

  &--watch::before {
    background-image: url("../../img/advantages-watch.svg");
  }
}

.advantages__text {
  margin: 0;
  max-width: 200px;
}
