.button {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
  border: none;
  display: block;
}

.button--primary {
  background-color: #68b738;
  font-size: 16px;
  line-height: 20px;
  padding: 10px;
}

.button--secondary {
  background-color: #f2f2f2;
  color: #444444;
  padding: 8px 44px 8px 44px;
}
