@use "common/variables.scss";

.button {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
  border: none;
  display: block;
  opacity: 1;

  &:hover {
    opacity: 0.7;
    transition: opacity 1s;
  }

  &:active {
    opacity: 0.5;
    transition: opacity 1s;
  }
}

.button--primary {
  background-color: #68b738;
  font-size: 16px;
  line-height: 20px;
  padding: 10px;

  @media (min-width: variables.$tablet-width) {
    font-size: 20px;
    line-height: 26px;
    padding: 14px;
  }
}

.button--secondary {
  background-color: #f2f2f2;
  color: #444444;
  padding: 8px;
}
