@use "common/variables.scss";

.catalog {
  padding-top: 27px;
  border-top: 1px solid #d9d9d9;

  @media (min-width: variables.$tablet-width) {
    border-top: none;
  }
}

.catalog__title {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  margin: 0;
  color: #000000;
  margin-bottom: 41px;

  // @media (min-width: variables.$tablet-width) {

  // }
}

.catalog__list {
  list-style-type: none;
  margin: 0;
  padding: 0;

  @media (min-width: variables.$tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 60px;
  }

  @media (min-width: variables.$desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 60px;
  }
}

.catalog__button {
  width: 100%;
}

.catalog__button-container {
  padding: 25px 0 25px;
  position: relative;
  border-bottom: 1px solid #ebebeb;

  @media (min-width: variables.$tablet-width) {
    border: 2px solid #f2f2f2;
    padding: 37px 40px;
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  &::before {
    content: "";
    display: block;
    width: 30px;
    height: 2px;
    background-color: #d3d3d3;
    margin: 0 auto;
    margin-bottom: 37px;
  }

  &::after {
    content: "";
    display: block;
    position: relative;
    width: 30px;
    height: 2px;
    background-color: #d3d3d3;
    margin: 0 auto;
    transform: rotate(90deg);
    top: -139px;
  }
}

.catalog__text {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #111111;
  margin: 0;
  margin-bottom: 8px;

  @media (min-width: variables.$tablet-width) {
    margin-bottom: 23px;
    padding-top: 160px;
  }
}

.catalog__slogan {
  text-align: center;
  margin: 0;
  margin-bottom: 20px;

  @media (min-width: variables.$tablet-width) {
    margin-bottom: auto;
  }
}
