@use "common/variables.scss";

.catalog {
  padding-top: 27px;
  border-top: 1px solid #d9d9d9;

  @media (min-width: variables.$tablet-width) {
    border-top: none;
  }
}

.catalog__title {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  margin: 0;
  color: #000000;
  margin-bottom: 41px;

  @media (min-width: variables.$desktop-width) {
    margin-bottom: 165px;
  }
}

.catalog__list {
  list-style-type: none;
  margin: 0;
  padding: 0;

  @media (min-width: variables.$tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 60px;
  }

  @media (min-width: variables.$desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 60px;
    row-gap: 144px;
  }
}

.catalog__item {
  @media (min-width: variables.$tablet-width) {
    align-self: flex-end;
  }

  @media (min-width: variables.$desktop-width) {
    height: 100%;
  }
}

.catalog__button {
  width: 100%;
  height: 40px;
}

.catalog__button-container {
  padding: 25px 0 25px;
  position: relative;
  border-bottom: 1px solid #ebebeb;

  @media (min-width: variables.$tablet-width) {
    border: 2px solid #f2f2f2;
    padding: 50px 37px 40px;
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  @media (min-width: variables.$desktop-width) {
    height: 100%;
  }

  &::before {
    content: "";
    display: block;
    width: 30px;
    height: 2px;
    background-color: #d3d3d3;
    margin: 0 auto;
    margin-bottom: 37px;

    @media (min-width: variables.$tablet-width) {
      margin-top: 30px;
      margin-bottom: 80px;
      width: 60px;
    }

    @media (min-width: variables.$desktop-width) {
      margin-top: 45px;
    }
  }

  &::after {
    content: "";
    display: block;
    position: relative;
    width: 30px;
    height: 2px;
    background-color: #d3d3d3;
    margin: 0 auto;
    transform: rotate(90deg);
    top: -139px;

    @media (min-width: variables.$tablet-width) {
      top: -290px;
      width: 60px;
    }
  }
}

.catalog__text {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #111111;
  margin: 0;
  margin-bottom: 8px;

  @media (min-width: variables.$tablet-width) {
    font-size: 20px;
    line-height: 24px;
    margin: 0 auto;
    margin-bottom: 23px;
    width: 170px;
  }
}

.catalog__slogan {
  text-align: center;
  margin: 0;
  margin-bottom: 20px;

  @media (min-width: variables.$tablet-width) {
    margin: 0 auto;
    margin-bottom: auto;
    font-size: 16px;
    line-height: 18px;
    width: 170px;
  }
}
