@use "common/variables.scss";

.checkbox-fieldset {
  margin: 0;
  padding: 0;
  border: none;
  padding-bottom: 34px;
  // padding: 19px 0 22px;

  @media (min-width: variables.$desktop-width) {
    grid-column: 1 / 3;
    padding-bottom: 60px;
  }
}

.checkbox-fieldset__title {
  position: relative;
  margin-bottom: 34px;
  line-height: 26px;

  @media (min-width: variables.$tablet-width) {
    line-height: 36px;
  }

  &::after {
    content: "";
    position: absolute;
    top: 61%;
    left: 175px;
    right: 0;
    height: 2px;
    width: 400%;
    background-color: #68b738;

    @media (min-width: variables.$tablet-width) {
      left: 250px;
    }

    @media (min-width: variables.$desktop-width) {
      width: 600%;
    }
  }
}

.checkbox-fieldset__list {
  margin: 0;
  padding: 0;
  list-style-type: none;

  @media (min-width: variables.$desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.checkbox-fieldset__item {
  &:not(:last-child) {
    margin-bottom: 13px;

    @media (min-width: variables.$desktop-width) {
      margin-bottom: 0;
    }
  }
}

.checkbox-fieldset__label {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  color: #444444;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  position: relative;
  // gap: 15px;
}

.checkbox-fieldset__input {
  margin: 0;
  width: 30px;
  height: 30px;

  &:not(:last-child) {
    margin-right: 15px;
  }
}

.checkbox-fieldset__control-mark {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 30px;
  height: 30px;
  border: 1px solid #cdcdcd;
  cursor: pointer;
  background-color: #ffffff;
}

.checkbox-fieldset__input:checked+.checkbox-fieldset__control-mark {
  &::before {
    content: "";
    position: absolute;
    display: block;
    width: 19px;
    height: 16px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: url("../../img/check-mark.svg") no-repeat center;
  }
}
