@use "common/variables.scss";

.comment-fieldset {
  @media (min-width: variables.$desktop-width) {
    grid-column: 1 / 3;
  }

}

.comment-fieldset__title {
  position: relative;
  line-height: 26px;
  margin-bottom: 38px;

  @media (min-width: variables.$tablet-width) {
    margin-bottom: 87px;
  }

  &::after {
    content: "";
    position: absolute;
    top: 61%;
    left: 150px;
    right: 0;
    height: 2px;
    width: 400%;
    background-color: #68b738;

    @media (min-width: variables.$tablet-width) {
      left: 220px;
    }

    @media (min-width: variables.$desktop-width) {
      width: 700%;
    }
  }
}

.comment-fieldset__input {
  width: 100%;
  height: 150px;
  padding: 14px;
  border: 1px solid #e7e7e7;

  &::placeholder {
    font-family: "Oswald", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    color: #444444;
    text-transform: uppercase;
    vertical-align: top;
  }

  @media (min-width: variables.$desktop-width) {
    height: 175px;
  }
}
