@use "common/variables.scss";

.contacts {
  padding-top: 26px;

  @media (min-width: variables.$tablet-width) {
    background-color: #FFFFFF;
    padding-top: 60px;
  }
}

.contacts__wrapper {
  margin-bottom: 26px;

  @media (min-width: variables.$tablet-width) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 60px;
    align-items: center;
  }
}

.contacts__title {
  width: 136px;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: left;
  color: #111111;
  text-transform: uppercase;
  margin: 0;
  display: inline-block;

  @media (min-width: variables.$tablet-width) {
    font-size: 20px;
    line-height: 26px;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }
}

.contacts__address {
  width: 140px;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-align: left;
  font-style: normal;
  color: #444444;
  display: inline-block;

  @media (min-width: variables.$tablet-width) {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    justify-self: flex-end;
  }
}

.contacts__map {
  margin: 0 auto;

  @media (min-width: variables.$tablet-width) {
    grid-column: 1 / 3;
    width: 100%;
    margin-top: 0;
  }
}
