@use "common/variables.scss";

.copyright__link {
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
  color: #444444;
  display: flex;
  justify-content: space-between;

  @media (min-width: variables.$tablet-width) {
    padding: 0;
    justify-content: center;
    gap: 23px;
  }
}

.copyright__text {
  margin: auto 0;
}
