@use "common/variables.scss";

.example {
  background-color: #eaeaea;
  padding: 25px 0 40px 0;

  @media (min-width: variables.$tablet-width) {
    background-color: #ffffff;
    padding: 45px 0 0 0;
  }

  @media (min-width: variables.$desktop-width) {
    background-color: #ffffff;
    padding: 0;
  }
}

.example__wrapper {
  position: relative;
}

.example__title {
  font-family: "Oswald", sans-serif;
  font-size: 36px;
  line-height: 40px;
  font-weight: 400;
  text-align: left;
  color: #000000;
  margin: 0;
  margin-bottom: 40px;

  @media (min-width: variables.$tablet-width) {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 60px;
  }

  @media (min-width: variables.$desktop-width) {
    margin-bottom: 76px;
  }
}

.example__background-container {
  @media (min-width: variables.$tablet-width) {
    &::before {
      content: "";
      position: absolute;
      display: block;
      height: 462px;
      width: 100%;
      background-color: #eaeaea;
      z-index: 0;
      top: 590px;
    }
  }

  @media (min-width: variables.$desktop-width) {
    background-color: #f2f2f2;
    padding-top: 70px;
  }
}

.example__text {
  margin: 0;
  margin-bottom: 20px;

  @media (min-width: variables.$tablet-width) {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 55px;
  }
}

.example__container {
  @media (min-width: variables.$tablet-width) {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 99px;
  }
}

.example__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;

  @media (min-width: variables.$tablet-width) {
    width: 366px;
  }
}

.example__card {
  width: 124px;
  height: 56px;
  border: 1px solid #cdcdcd;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  padding: 15px 20px 0;

  @media (min-width: variables.$tablet-width) {
    width: 162px;
    height: 72px;
    justify-content: center;
  }
}

.example__number {
  font-family: "Oswald", sans-serif;
  font-size: 24px;
  line-height: 24px;
  color: #000000;
  text-align: center;
  margin-bottom: 8px;

  @media (min-width: variables.$tablet-width) {
    margin-bottom: 11px;
    font-size: 30px;
    line-height: 37px;
  }
}

.example__description {
  font-size: 12px;
  line-height: 12px;
  margin: 0;
  text-align: center;
  width: 77px;
  background-color: #eaeaea;

  @media (min-width: variables.$tablet-width) {
    background-color: #ffffff;
    width: 142px;
    font-size: 14px;
    line-height: 14px;
    position: relative;
    left: -12px;
  }
}

.example__result {
  font-family: "Oswald", sans-serif;
  line-height: 20px;
  color: #000000;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  margin-top: 34px;
  margin-bottom: 20px;

  @media (min-width: variables.$tablet-width) {
    font-size: 20px;
    width: 174px;
    text-align: end;
  }
}

// .example__slider {
//   list-style-type: none;
//   margin: 0;
//   padding: 0;

//   @media (min-width: variables.$tablet-width) {
//     background-color: #eaeaea;
//   }
// }

.example__image {
  @media (min-width: variables.$tablet-width) {
    margin: 0 auto;
    position: relative;
    margin-bottom: 100px;
  }
}
