.example {
  background-color: #eaeaea;
  padding: 25px 0 40px 0;
}

.example__title {
  font-family: "Oswald", sans-serif;
  font-size: 36px;
  line-height: 40px;
  text-align: left;
  color: #000000;
  margin: 0;
  margin-bottom: 40px;
}

.example__text {
  margin: 0;
  margin-bottom: 20px;
}

.example__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

.example__card {
  width: 124px;
  border: 1px solid #cdcdcd;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  // justify-content: center;
}

.example__number {
  font-family: "Oswald", sans-serif;
  font-size: 24px;
  line-height: 24px;
  color: #000000;
  text-align: center;
  margin-bottom: 8px;
}

.example__description {
  font-size: 12px;
  line-height: 12px;
  margin: 0;
  text-align: center;
}

.example_result {
  font-family: "Oswald", sans-serif;
  line-height: 20px;
  color: #000000;
  text-transform: uppercase;
  text-align: center;
}

.example__slider {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
