@use "common/variables.scss";

.example {
  background-color: #eaeaea;
  padding: 25px 0 40px 0;

  @media (min-width: variables.$tablet-width) {
    background-color: #ffffff;
    padding: 45 0 100px 0;
  }
}

.example__title {
  font-family: "Oswald", sans-serif;
  font-size: 36px;
  line-height: 40px;
  font-weight: 400;
  text-align: left;
  color: #000000;
  margin: 0;
  margin-bottom: 40px;

  @media (min-width: variables.$tablet-width) {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 60px;
  }
}

.example__text {
  margin: 0;
  margin-bottom: 20px;

  @media (min-width: variables.$tablet-width) {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 55px;
  }
}

.example__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;

  @media (min-width: variables.$tablet-width) {
    width: 366px;
  }
}

.example__card {
  width: 124px;
  border: 1px solid #cdcdcd;
  border-radius: 3px;
  display: flex;
  flex-direction: column;

  @media (min-width: variables.$tablet-width) {
    width: 162px;
    height: 77px;
    justify-content: center;
  }
}

.example__number {
  font-family: "Oswald", sans-serif;
  font-size: 24px;
  line-height: 24px;
  color: #000000;
  text-align: center;
  margin-bottom: 8px;
}

.example__description {
  font-size: 12px;
  line-height: 12px;
  margin: 0;
  text-align: center;
}

.example_result {
  font-family: "Oswald", sans-serif;
  line-height: 20px;
  color: #000000;
  text-transform: uppercase;
  text-align: center;

  // @media (min-width: variables.$tablet-width) {
  //   display: inline;
  // }
}

.example__slider {
  list-style-type: none;
  margin: 0;
  padding: 0;

  @media (min-width: variables.$tablet-width) {
    background-color: #EAEAEA;
  }
}
