.footer {
  background-color: #f2f2f2;
  display: flex;
  flex-direction: column;
}

.footer__list {
  border-bottom: 1px solid #d9d9d9;
}

.footer__link {
  display: flex;
  justify-content: center;
  border-bottom: 1px solid #d9d9d9;
  padding: 40px 0 20px 0;
}

.copyright__link {
  padding: 20px 0 40px 0;
}
