.header {
  font-family: "Oswald", sans-serif;
  font-size: 20px;
  line-height: 20px;
  background-color: #ffffff;
  color: #111111;
}

.header__link {
  text-decoration: none;
  color: #111111;
}

.header__logo:last-child {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
