@use "common/variables.scss";

.header {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  background-color: #ffffff;
  color: #111111;
  margin: 13px 0;

  @media (min-width: variables.$tablet-width) {
    font-size: 18px;
    line-height: 24px;
  }

  @media (min-width: variables.$desktop-width) {
    margin: 0;
    padding: 55px 0;
    font-size: 20px;
    line-height: 30px;

    &--index {
      background-image: linear-gradient(to right, #ffffff 50%, #68b738 50%), url("../../img/index-background-cat.png");
      color: #ffffff;
    }
  }
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
  position: relative;
  margin: 13px auto;

  @media (min-width: variables.$tablet-width) {
    margin: 25px auto;
  }

  @media (min-width: variables.$desktop-width) {
    margin: 0 auto;
  }
}

.header__link {
  text-decoration: none;
  color: #111111;
  display: flex;
  align-items: center;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.header__picture {
  &:last-child {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  @media (min-width: variables.$tablet-width) {
    &:last-child {
      position: static;
      transform: translate(0, 0);
      margin-left: 13px;
    }
  }
}
