@use "common/variables.scss";

.hero {
  padding-top: 27px;
  position: relative;

  @media (min-width: variables.$tablet-width) {
    background-color: #ffffff;
  }

  @media (min-width: variables.$desktop-width) {
    background-image: linear-gradient(to right, #ffffff 50%, #68b738d9 50%), url("../../img/index-background-cat.png");
    background-repeat: no-repeat;
    background-position: 100% 50%;
    background-size: contain;
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 302px;
    background-image: url("../../img/index/index-background-cat.png");
    background-repeat: no-repeat;
    background-position: top;
    background-color: #63a73a;
    z-index: -1;
  }
}

.hero__wrapper {
  @media (min-width: variables.$tablet-width) {
    padding-left: 90px;
    position: relative;
  }

  @media (min-width: variables.$desktop-width) {
    padding-left: 80px;
  }
}

.hero__title {
  margin: 0 0 25px 0;
  text-align: center;

  @media (min-width: variables.$tablet-width) {
    text-align: left;
    margin-bottom: 40px;
  }
}

.hero__description {
  margin: 0 0 29px 0;
  font-family: "Oswald", sans-serif;
  text-align: center;
  line-height: 14px;
  color: #ffffff;
  text-transform: uppercase;

  @media (min-width: variables.$tablet-width) {
    color: #000000;
    font-size: 20px;
    line-height: 20px;
    text-align: left;
  }
}

// .hero__img {
//   @media (min-width: variables.$tablet-width) {
//     position: relative;
//   }
// }

// .hero__image {
//   @media (min-width: variables.$tablet-width) {
//     position: relative;
//   }

//   @media (min-width: variables.$desktop-width) {
//     ///
//   }
// }

.hero__link {
  margin-bottom: 20px;

  @media (min-width: variables.$tablet-width) {
    position: absolute;
    top: 235px;
    left: 90px;
    width: 244px;
  }
}
