@use "common/variables.scss";

.navigation {
  display: block;
  background-color: #ffffff;

  @media (min-width: variables.$tablet-width) {
    display: block;
    width: 530px;
  }

  @media (min-width: variables.$desktop-width) {
    background-color: transparent;
    width: 610px;
  }
}

.navigation__toglle {
  width: 24px;
  height: 22px;
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  z-index: 2;
  cursor: pointer;
  border: none;
  display: block;
  background-color: #ffffff;

  @media (min-width: variables.$tablet-width) {
    display: none;
  }
}

.navigation--opened .navigation__toglle {
  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 10px;
    left: 0;
    width: 24px;
    height: 2px;
    background-color: #000000;
  }

  &::before {
    transform: rotate(45deg);
  }

  &::after {
    transform: rotate(-45deg);
  }
}

.navigation__wrapper {
  display: block;
  position: absolute;
  top: 51px;
  left: 0;
  z-index: 2;
  width: 100%;
  margin: 0 auto;
  background-color: #ffffff;

  @media (min-width: variables.$tablet-width) {
    display: flex;
    position: static;
  }

  @media (min-width: variables.$desktop-width) {
    background-color: transparent;
  }
}


.navigation--closed .navigation__wrapper {
  @media (min-width: variables.$mobile-width-only) {
    display: none;
  }

  @media (min-width: variables.$tablet-width) {
    display: block;
  }
}

.navigation__list {
  list-style-type: none;
  margin: 0;
  padding: 0;

  @media (min-width: variables.$tablet-width) {
    width: 100%;
    display: flex;
    justify-content: flex-end;
  }
}

.navigation__link {
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
  display: block;
  padding: 22px;
  text-align: center;
  border-bottom: 1px solid #e6e6e6;

  @media (min-width: variables.$tablet-width) {
    padding: 12px 16px;
    border: none;
    position: relative;

    &--current::before {
      content: "";
      position: absolute;
      top: 100%;
      left: 50%;
      transform: translate(-50%, 0);
      display: block;
      width: calc(100% - 32px);
      height: 2px;
      background-color: #68b738;
    }
  }

  @media (min-width: variables.$desktop-width) {
    color: #000000;
  }
}


.header--index .navigation__link {
  color: #000000;

  @media (min-width: variables.$tablet-width) {
    color: #000000;
  }

  @media (min-width: variables.$desktop-width) {
    color: #ffffff;
  }
}

.navigation__item:first-of-type .navigation__link {
  border-top: 1px solid #e6e6e6;

  @media (min-width: variables.$tablet-width) {
    border-top: none;
  }
}

.header--index .navigation__link--current::before {
  @media (min-width: variables.$desktop-width) {
    background-color: #ffffff;
  }
}

.navigation--closed .navigation__toglle {
  &::before {
    content: "";
    position: absolute;
    top: 2px;
    left: 0;
    width: 24px;
    height: 2px;
    background-color: #000000;
    box-shadow: 0 8px 0 0 #000000, 0 16px 0 0 #000000;
  }

  @media (max-width: variables.$mobile-width-only) {
    &::before,
    &::after {
      content: "";
      display: none;
      position: absolute;
      top: 10px;
      left: 0;
      width: 24px;
      height: 2px;
      background-color: #000000;
    }

    &::before {
      transform: rotate(45deg);
    }

    &::after {
      transform: rotate(-45deg);
    }
  }
}
