@use "common/variables.scss";

.product-card {
  font-size: 12px;
  line-height: 16px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 17px;
  padding: 20px 0 25px;
  border-top: 1px solid #ebebeb;
  position: relative;

  @media (min-width: variables.$tablet-width) {
    border-top: none;
    width: 324px;
    // height: 511px;
    // background-color: #f2f2f2;
    padding: 37px 40px;
    font-size: 16px;
    line-height: 20px;

    &::before {
      content: "";
      display: block;
      position: absolute;
      width: 324px;
      height: 415px;
      background-color: #f2f2f2;
      z-index: -1;
      bottom: 0;
    }
  }

  @media (min-width: variables.$desktop-width) {
    width: 245px;
    height: 430px;
    row-gap: 0;
    grid-template-rows: 1fr 1fr 1fr 40px;

    &::before {
      content: "";
      display: block;
      position: absolute;
      width: 245px;
      height: 100%;
      background-color: #f2f2f2;
      z-index: -1;
      bottom: 0;
    }
  }

  &:last-child {
    border-bottom: 1px solid #ebebeb;
  }
}

.product-card__title {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: #222222;
  margin: 0;
  text-transform: uppercase;
  grid-column: 2 / 3;
  justify-self: flex-start;

  @media (min-width: variables.$tablet-width) {
    grid-column: 1 / 3;
    grid-row: 2 / 3;
    justify-self: center;
    align-self: flex-end;
  }

  @media (min-width: variables.$tablet-width) {
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 23px;
  }
}

.product-card picture {
  grid-column: 1 / 2;
  grid-row: 1 / 3;
  justify-self: center;
  align-self: center;

  @media (min-width: variables.$tablet-width) {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
  }

  @media (min-width: variables.$desktop-width) {
    position: absolute;
    top: -100px;
    // z-index: 100;
  }
}

.product-card__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  // display: grid;
  // grid-template-columns: auto auto;
  // align-content: flex-end;
  // grid-column: 2 / 3;
  display: flex;
  flex-direction: column;

  @media (min-width: variables.$tablet-width) {
    grid-column: 1 / 3;
    grid-row: 3 / 4;
  }

  @media (min-width: variables.$desktop-width) {
    margin-bottom: 32px;
  }
}

.product-card__item {
  display: flex;
  justify-content: space-between;

  @media (min-width: variables.$tablet-width) {
    border-bottom: 1px solid #cdcdcd;
    padding-top: 7px;
    padding-bottom: 4px;
  }
}

.product-card__description {
  margin: 0;
  justify-self: flex-end;

  // @media (min-width: variables.$tablet-width) {
  // }
}

.product-card__button {
  grid-column: 1 / 3;

  @media (min-width: variables.$tablet-width) {
    grid-column: 1 / 3;
    grid-row: 4 / 5;
    align-self: flex-end;
    font-size: 16px;
    line-height: 20px;
  }

  @media (min-width: variables.$desktop-width) {
    height: 40px;
    padding: 10px;
  }
}
