@use "common/variables.scss";

.program-card {
  padding: 21px 20px 18px;
  background-color: #f2f2f2;
  display: grid;
  grid-template-columns: 50px auto;
  column-gap: 20px;
  row-gap: 23px;
  align-items: center;
  position: relative;

  @media (min-width: variables.$tablet-width) {
    grid-template-columns: auto 200px;
    padding: 77px 63px 53px 52px;
    column-gap: 53px;
    // align-items: flex-start;
  }

  @media (min-width: variables.$desktop-width) {
    grid-template-columns: 100px auto;
    padding: 41px 52px 55px 52px;
    column-gap: 62px;
    align-items: flex-start;
  }

  &::before {
    content: "";
    width: 50px;
    height: 50px;
    background: #68b738 no-repeat 50%;
    border-radius: 50%;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    position: relative;

    @media (min-width: variables.$tablet-width) {
      grid-column: 2 / 3;
      grid-row: 1 / 4;
      width: 200px;
      height: 200px;
    }

    @media (min-width: variables.$desktop-width) {
      // grid-column: 1 / 2;
      // grid-row: 1 / 2;
      // width: 100px;
      // height: 100px;
    }
  }

  &::after {
    content: "";
    width: 100%;
    height: 100%;
    display: block;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    position: absolute;

    @media (min-width: variables.$tablet-width) {
      grid-column: 2 / 3;
      grid-row: 1 / 4;
      width: 200px;
      height: 200px;
    }

    @media (min-width: variables.$desktop-width) {
      // grid-column: 1 / 2;
      // grid-row: 1 / 2;
      // width: 100px;
      // height: 100px;
    }
  }

  &--slim::after {
    background: url("../../img/icons/cat-slim.svg") no-repeat center;
    top: -3px;

    @media (min-width: variables.$tablet-width) {
      background: url("../../img/icons/cat-slim-tablet.svg") no-repeat center;
      // top: -3px;
    }
  }

  &--pro::after {
    background: url("../../img/icons/cat-pro.svg") no-repeat center;
    width: 67px;
    height: 28px;
    top: 10px;
    left: -8px;

    @media (min-width: variables.$tablet-width) {
      background: url("../../img/icons/cat-pro-tablet.svg") no-repeat center;
      // top: -3px;
      width: 270px;
      height: 140px;
      top: 40px;
      left: -35px;
    }
  }
}

.program-card__title {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  justify-self: flex-start;
  text-transform: uppercase;

  @media (min-width: variables.$tablet-width) {
    grid-column: 1 / 2;
    font-size: 36px;
    line-height: 36px;
  }

  @media (min-width: variables.$desktop-width) {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    align-self: center;
  }
}

.program-card__description {
  grid-column: 1 / -1;
  grid-row: 2 / 3;
  margin: 0;

  @media (min-width: variables.$tablet-width) {
    grid-column: 1 / 2;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
  }

  @media (min-width: variables.$desktop-width) {
    grid-column: 1 / -1;
    grid-row: 2 / 3;
  }
}

.program-card__link {
  grid-column: 1 / -1;
  grid-row: 3 / 4;
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 16px;
  text-decoration: none;
  text-transform: uppercase;
  color: #000000;
  display: flex;
  align-items: center;
  column-gap: 15px;
  flex-wrap: wrap;

  @media (min-width: variables.$tablet-width) {
    grid-column: 1 / 2;
    column-gap: 25px;
    font-size: 20px;
    line-height: 30px;
  }

  @media (min-width: variables.$desktop-width) {
    grid-column: 1 / -1;
    margin-top: 24px;
  }

  &::before {
    content: "";
    display: block;
    background-color: #d9d9d9;
    width: 100%;
    height: 1px;
    margin-bottom: 15px;

    @media (min-width: variables.$tablet-width) {
      display: none;
    }
  }

  &::after {
    content: "";
    display: block;
    background: url("../../img/icons/program-arrow.svg") no-repeat center;
    width: 32px;
    height: 10px;
  }
}
