.program-card {
  padding: 21px 20px 18px;
  background-color: #F2F2F2;
  display: grid;
  grid-template-columns: 50px auto;
  column-gap: 20px;
  row-gap: 22px;
  align-items: center;


  &::before {
    content: "";
    width: 50px;
    height: 50px;
    background-color: #68b738;
    border-radius: 50%;
    grid-column: 1/2;
    grid-row: 1 / 2;
  }
}

.program-card__title {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  justify-self: flex-start;
}

.program-card__description {
  grid-column: 1 / -1;
  grid-row: 2 / 3;
  margin: 0;
}

.program-card__link {
  grid-column: 1 / -1;
  grid-row: 3 / 4;
}

.program-card__link {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 16px;
  text-decoration: none;
  text-transform: uppercase;
  color: #000000;

  &::before {
    content: "";
    display: block;
    background-color: #D9D9D9;
    width: 100%;
    height: 1px;
    margin-bottom: 15px;
  }
}
