@use "common/variables.scss";

.radio-fieldset {
  margin: 0;
  border: none;
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;
  padding: 19px 0 22px;

  @media (min-width: variables.$tablet-width) {
    border: 1px solid #d9d9d9;
    padding: 23px 27px ;
  }
}

.radio-fieldset__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.radio-fieldset__item {
  &:not(:last-of-type) {
    margin-bottom: 13px;
  }
}

.radio-fieldset__label {
  position: relative;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  gap: 15px;
}

.radio-fieldset__input {
  width: 30px;
  height: 30px;
  margin: 0;
}

.radio-fieldset__control-mark {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 30px;
  height: 30px;
  border: 1px solid #cdcdcd;
  border-radius: 50%;
  background-color: #ffffff;
  cursor: pointer;
  z-index: 1;
}

.radio-fieldset__input:checked + .radio-fieldset__control-mark {
  &::before {
    content: "";
    position: absolute;
    display: block;
    width: 13px;
    height: 13px;
    background-color: #68b738;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
  }
}
