.selection-label {
  text-transform: uppercase;
}

.selection-label__input,
.selection-label__input::placeholder {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: #444444;
  text-transform: uppercase;
}


