.selection__form {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
}

.selection__text {

//   @media (min-width: variables.$tablet-width) {
//   }
// }

.selection__field {
  border: none;
  margin: 0;
  padding: 0;
}
