* {
  box-sizing: border-box;
}

.page {
  height: 100%;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

.page__body {
  background-color: #ffffff;
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #444444;
  margin: 0;
}
