@use "common/variables.scss";

.wrapper {
  width: 280px;
  margin: 0 auto;

  @media (min-width: variables.$tablet-width) {
    width: 710px;
  }

  @media (min-width: variables.$desktop-width) {
    width: 1220px;
  }
}
