// Начните писать стили здесь
@use "common/variables.scss";
@use "common/visually-hidden.scss";
@use "common/fonts.scss";
@use "common/page.scss";
@use "common/wrapper.scss";
@use "blocks/header.scss";
@use "blocks/navigation.scss";
@use "blocks/button.scss";
@use "blocks/main-container.scss";
@use "blocks/programs.scss";
@use "blocks/title.scss";
@use "blocks/program-card.scss";
@use "blocks/advantages.scss";
@use "blocks/example.scss";
@use "blocks/contacts.scss";
@use "blocks/footer.scss";
@use "blocks/social.scss";
@use "blocks/social-link.scss";
@use "blocks/copyright.scss";
@use "blocks/selection.scss";
@use "blocks/selection-field.scss";
@use "blocks/selection-label.scss";
@use "blocks/radio-input.scss";
@use "blocks/checkbox.scss";
@use "blocks/catalog.scss";
@use "blocks/product-card.scss";
@use "blocks/additional.scss";
@use "blocks/additional-product.scss";
